<% include _header%>
<div class="container jumbotron">
  <div class="row">
    <div class="col-xs-12">
      <h1>Please verify your email with token sent to your email</h1>
      <form action="/verify/<%= data.ipaddress %>/<%= data.name%>/<%= data.email %>/<%= data.message%>/<%= data.token%>" method="POST">
        <div class="form-group">
          <label for="token">Enter Token from your Email</label>
          <input type="text" name="token" class="form-control" id="token" aria-describedby="emailHelp" placeholder="Enter token" required autofocus>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Verify Token">
        </div>
      </form>
    </div>
  </div>
</div>
<% include _footer%>
